@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Oswald', sans-serif!important;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-image: linear-gradient(90deg,rgba(19, 19, 49,1) 0%, rgba(19, 84, 122,1) 25%,rgba(128, 208, 199,1)  50%,rgba(19, 84, 122,1) 75%, rgba(19, 19, 49,1)  100%)!important;
        border-radius: 2px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 1px;
        background-color: black;
    }

    .carousel-control-prev-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
        
    }
    .carousel-control-next-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")!important;
    }


    /* preloader */
    
    #preloader {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: url('./images/background/im3.jpg');
        background-size: cover;
        /* transform: rotateZ(180deg); */
        z-index: 999999;    
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
    .preloadercont{
        width: 250px;
        margin: 40vh auto;
    }
    #lodercont{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(45deg,rgba(128, 208, 199,0.8) 0%, rgba(19, 84, 122,0.8) 25%, rgba(19, 19, 49,0.8) 50%,rgba(19, 84, 122,0.8) 75%, rgba(128, 208, 199,0.8)  100%)!important;
    }
    
    #loader {
          display: block;
          /* position: relative; */
          left: 45%;
          top: 45%;
          width: 250px;
          height: 250px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #9370DB;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
      }
      #loader > .preloaderimg{
          display: block;
          width: 250px;
          margin: auto;
          animation: antispin 2s linear infinite;
    }
    #loader:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #BA55D3;
          -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
      }
    #loader:after {
          content: "";
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #FF00FF;
          -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
      }
    @-webkit-keyframes spin {
          0%   {
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100% {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
    @keyframes spin {
          0%   {
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100% {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }
    @keyframes antispin {
        0%   {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

      /* preloader */


    body{
        background-image: url('./images/background/im3.jpg');
    }

    #loading{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff no-repeat center;
        z-index: 999999;    
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
   
    .nav{
        /* background: linear-gradient(45deg, rgb(106, 120, 209), rgb(0, 164, 189)); */
        /* background-color: rgb(139 149 216) ; */
        background-image: linear-gradient(90deg,rgba(19, 19, 49,1) 0%, rgba(19, 84, 122,1) 25%,rgba(128, 208, 199,1)  50%,rgba(19, 84, 122,1) 75%, rgba(19, 19, 49,1)  100%)!important;
        position:fixed;
        width:100vw;
        top: 0px;
        height: 58px;
        z-index: 9999;
    }
    .nav ul li{
        list-style: none;
    }
    .nav ul a{
        text-decoration: none;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        padding: 5px 10px;
        font-size: 20px;
        /* font-family: 'Train One', cursive!important; */
        cursor: pointer;
    }
    .navlogo{
        margin: auto;
    }
    .navmenu{
        /* width:50%; */
        padding: 9px 15px;
    }
    .navmenu ul{
        display:flex;
    }
    .navmenu .nav-item {
        margin-right: 10px;
        margin-left: 10px;
        padding: 4px 0px;
    }
    .nav ul a:hover{
        color: #80d0c7;
        text-shadow: 2px 2px 4px #000000;
    }
    .active{
        color: #80d0c7!important;
        text-shadow: 2px 2px 4px #000000;
    }
    .left{
        position: absolute;
        left: 0px;
    }
    .right {
        position: absolute;
        right: 0px;
    }
    .menubutton{
        border: 1px solid white;
        width: 40px;
        height: 30px;
        margin: 3px 0px;
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 11.5px;
        border-radius: 4px;
        display: none;
    }
    .menubutton p{
        width: 80%;
        background-color: white;
        padding: 2px;
        margin: 4px auto;
        border-radius: 3px;
    }
    .readmore{
        padding: 0px 10px;
        border: none;
        background-color:transparent;
        color: #80d0c7;
        cursor: pointer;
        display: none;
        width: fit-content;
    }
    .readmore:hover{
        color: white;
    }
    .readless{
        padding: 0px 10px;
        border: none;
        background-color:transparent;
        color: #80d0c7;
        cursor: pointer;
        width: fit-content;
    }
    .hide{
        display: none;
    }

    /* home container */
    .homecont{
        background: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./images/logo/rn.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .sociallogo{
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: auto;
        display:flex;
        width: fit-content;
    }
    .sociallogo li a{
        text-decoration: none;
        color: white;
    }
    .sociallogo li a:hover{
        color: #80d0c7;
        text-shadow: 2px 2px 4px #000000;
    }
    .sociallogo li{
        list-style: none;
        margin: 0px 20px;
    }

    /* for about us  */
    .heading{
        text-align:center;
        padding: 5px;
        background-color:rgb(139 149 216) ;
        background-image: linear-gradient(45deg,#80d0c7 0%, #13547a 25%, rgb(19, 19, 49)50%,#13547a 75%, #80d0c7 100%)!important;
        background-color: rgb(19, 19, 49);
        /* background-image:url('./images/background/im3.jpg') */
        /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%)!important; */
    }
    .heading h2{
        margin: 0px;
        color: white;
        text-transform:  uppercase!important;
        font-weight: 700;
        font-family: 'museo-sans',verdana,sans-serif;
        
    }

    #aboutus .body p{
        padding: 5px;
        margin-bottom: 0px;
        /* background: linear-gradient(to right bottom, rgb(111, 145, 170) 0%, rgb(66, 93, 112) 100%) 100% center no-repeat; */
        /* background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); */
        padding: 20px 30px;
        /* word-break: break-all; */       
        color: white;
    }
    .body p{
        text-align:center;
    }

    /* for event container */
    .eventcont{
        /* margin-top:40px; */
        height:auto;
        /* border: 1px solid black; */
    }
    .carousel-indicators{
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 42%;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
        margin: auto!important;
    }
    .eventcont img{
        width: 60%!important;
        height: 40%;
        margin: auto;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0,0.4);
        width: 55%;
        margin: auto;
        padding: 10px 4px!important;
    }
    .body{
        background: rgb(192, 216, 255);
        /* background: url('./images/pexels-mudassir-ali-2680270.jpg') */
        /* background-image: url('./images/background/im9.jpg');  */
        background-repeat:no-repeat;
        background-size: cover;
        background-color: rgba(19, 19, 49,0.8);
        background-image: linear-gradient(45deg,rgba(128, 208, 199,0.4) 0%, rgba(19, 84, 122,0.4) 25%, rgba(19, 19, 49,0.4) 50%,rgba(19, 84, 122,0.4) 75%, rgba(128, 208, 199,0.4)  100%)!important;
    }

    /* for team member */
    .teamyear{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .teamyear li{
        list-style: none;
        margin: 10px auto;
        padding: 0 10px;
    }
    .teamyear a{
        padding: 6px 10px;
        font-weight: 800;
        border-radius: 6px;
        color: #4DA8DA;
        border: 1px solid rgb(77, 168, 218,0.8);
    }
    .teamyear a:hover{
        background-color: #4DA8DA!important;
        border: 1px solid #4DA8DA;
        color: white;
        text-decoration: none;
    }
    .teamyear .active{
        background-color: #4DA8DA!important;
        border: 1px solid #4DA8DA;
        color: white;
    }
    .teamdata{
        width: 80%;
        margin: auto;
    }
    .teamdata .hide{
        display:none;
    }
    .yearlist{
        display: flex;
        flex-wrap: wrap;
        gap: 0px 14px;
    }
    .datacard{
        margin: 20px auto;
        padding: 15px;
        width: 20rem;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background: white;
        /* background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); */
    }
    .datacard img{
        width: 120px;
        height: 120px;
        border-radius:50%;
        margin-bottom: 5px;
        /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
    }
    .social{
        margin: 3px;
    }
    .datacard b{
        font-size: 20px;
    }
    .datacard span{
        display:block;
        font-size: 18px;
    }
    .datacard .member-detail{
        margin: 5px;
    }
    .faculty{
        margin: 0 15px 15px 15px; 
        padding: 28px 0px ;
    }
    .faculty h3{
        margin: auto;
        width: fit-content;
        background-color: rgb(77, 168, 218,0.8)!important;
        color: white;
        padding: 6px 10px;
        font-weight: 800;
        border-radius: 6px;
    }
    .facultycard{
        margin: 20px auto;
        padding: 15px;
        width: 30rem;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        display:flex;
        background: white;
        /* background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); */
    }
    .facultycard img{
        margin-right: 30px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .carddetail{
        height: fit-content;
        margin: auto;
    }

    /* for alumni */
    
    #alumni .body{
       height: 23.5rem;
       overflow-x: hidden;
       position: relative;
       height: fit-content;
    }

    .alumnicont{
        display: flex;
        width: fit-content;
        padding: 0px 20px;
        gap: 1.5rem;
        /* transform: translateX(0%); */
        /* display: grid;
        grid-auto-columns: 25%;
        grid-auto-flow: column;
        transition: all 0.25s ease 0s;
        transform: translate3d(0rem, 0px, 0px);
        grid-gap: 20px; */
    }

    #alumni .body:hover .leftbtn,#alumni .body:hover .rightbtn{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        color:black;
        background-color:white;
        z-index: 1;
    }
    #alumni .react-multiple-carousel__arrow{
        z-index: 888;
    }

    .leftbtn{
        cursor: pointer;
        padding: 10px 18px;
        position: absolute;
        top: 170px;
        left: 57px;
        border-radius:50%;
        /* border: 1px solid black; */
        text-align: center;
        color: white;
        z-index: -1;
        width: fit-content;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; 
    }
    .leftbtn:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        color:black;
        background-color:white;
    }

    .rightbtn{
        cursor: pointer;
        padding: 10px 18px;
        position: absolute;
        top: 170px;
        right: 57px;
        border-radius:50%;
        /* border: 1px solid black; */
        text-align: center;
        color: white;
        z-index: -1;
        width: fit-content;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
    }
    .rightbtn:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        color:black;
        background-color:white;
    }

    .alumnicard{
        margin: 20px 20px!important;
        width: 14rem;
        height: 21.5rem;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        text-align: unset;
        /* background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); */
        /* height: 22rem; */
        background:white;
        font-size: 20px;
        margin: 30px auto!important;
        color: black;
        text-shadow: none;
    }
    .alumnicard p{
        font-size: 20px;
        margin: auto;
        background-color:  #4DA8DA;
        border-radius: 0px 6px 0px 0px;
        color: white;
        width: auto;
    }
    .alumnicard ul{
        margin: auto;
        width: 90%;
        padding: 9px 25px;
    }

    /* for sponsors */

    .sponsor .body{
        display:flex;
        flex-wrap: wrap;
        height: auto;
        /* padding: 0px 25%; */
        margin: auto;
    }

    .items{
        padding: 10px;
        width: fit-content;
        margin: 30px auto;
    }

    .items .link{
        width: fit-content;
        
        margin: 0px auto;
    }
    .items .link img{
        width: 20rem!important;
        border-radius: 8px;
    }
    .items .link img:hover{
        width: 20rem!important;
        margin: auto;
        box-shadow: 0 12px 12px 4px rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
    }


    /* FOR CONTACT US */
    
    .contact{
        width:80%;
        margin: auto;
        padding: 50px 0px;
    }
    .contact .contactField{
        display: flex;
        flex-wrap: wrap;
        gap: 0px 14px;
        margin-top: 20px;
    }
    .contact .contactField input{
        font-size: 20px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        margin: 10px 10px 10px -15px;
        padding: 5px 8px;
        outline: none;
        border: none;
        border-radius: 4px;
        width: 50vh;
    }
    .contact .contactField div{
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    textarea{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        margin: 10px;
        padding: 8px 10px;
        border-radius: 4px;
        outline: none;
        border: none;
        font-size: 20px;
    }
    .btn{
        margin: auto;
        width: 100%;
        margin-top: 20px;
    }
    .sendbtn{
        padding:5px 10px;
        border-radius: 8px;
        font-size: 20px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%)!important;
        border: none;
        color: white;
        font-weight: 800;
        transition-duration: 0.1s;
    }
    .sendbtn:hover{
        background-image: linear-gradient(15deg, #80d0c7 0%, #13547a 100%)!important;
        color: #80d0c7;
    }

    /* for footer */

    .footer{
        text-align: center;
        /* margin-top: 40px; */
        padding: 10px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        /* background: linear-gradient(15deg,#13547a  0%,  #80d0c7 100%)!important; */
        /* background-color:rgb(139 149 216) ; */
        background-image: linear-gradient(90deg,rgba(19, 19, 49,1) 0%, rgba(19, 84, 122,1) 25%,rgba(128, 208, 199,1)  50%,rgba(19, 84, 122,1) 75%, rgba(19, 19, 49,1)  100%)!important;
    }
    .footercont{
        margin-top: 4px;
    }
    .footer span{
        display: block;
        margin-top: 4px;
    }
    .footer button{
        border: none;
        background-color: transparent;
        /* color: #80d0c7; */
        color: white;
        font-size: 20px;
        cursor: pointer;
        font-family: 'Train One', cursive!important;
    }
    .footer p{
        margin-bottom: 0px;
    }
    .footer button:hover{
        color: #80d0c7;
        text-shadow: 2px 2px 4px #000000;
    }

    .webTeam{
        text-align: center;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        padding-top: 70px;
        background-color: rgba(0, 0, 0,0.7);
    }
    .teamcont{
        width: fit-content;
        margin: auto;
        background-color:#13547a;
        padding: 20px;
        border-radius: 7px;
    }
    .teamcont h1{
        text-align:center;
        padding: 5px;
        background-color:rgb(139 149 216) ;
        background-image: linear-gradient(45deg,#80d0c7 0%, #13547a 25%, rgb(19, 19, 49)50%,#13547a 75%, #80d0c7 100%)!important;
        background-color: rgb(19, 19, 49);
        color: white;
        border-radius: 6px 0px 6px 0px;
        font-weight: 800;
    }
    .teamcard{
        display: flex;
        gap: 10px;
    }


    .whitecont{
        padding: 30px;
        background-color:#c8d8e4;
    }

    .hide{
        display: none;
    }



    @media only screen and (min-width: 1100px){
        .alumnicard{
            width:14rem;
            /* height:18.3rem; */
        }
        .preloadercont{
            width: 250px;
            margin: 35vh auto;
        }
    }

    .heading h2{ 
        text-transform: capitalize;
    }

    @media only screen and (max-width:1100px){ 
        .navlogo{
            margin: 0px 5px;
        }
        .nav{
            display: block!important;
            padding: 3px;
            transition: height 0.5s ease-in-out;
        }
        .menubutton{
            display:unset;
            transition : display 0.5s ease-in-out;
            transition-delay: 1s;
        }
        .menubox{
            display: none;
        }
        .left, .right{
            position: unset;
        }
        .navmenu ul{
            display: unset;
        }
        .navmenu{
            padding: 0px 10px;
        }
        .navmenu .nav-item {
            margin: 0px 0px;
        }
        
    }

    @media only screen and (max-width: 900px){
        .preloadercont{
            width: 250px;
            margin: 35vh auto;
        }
        
        textarea{
            margin-top: 10px!important;
            width: 80vw;
            margin: auto;
        }
        .carousel-caption h3{
            font-size: 18px!important;
        }
        .carousel-caption{
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            font-size: 6px!important;
            padding-top: 3px!important;
            padding-bottom: 3px!important;
            color: #fff;
            text-align: center;
        }
        .contact input{
            width: 80vw !important;
            font-size:12px!important;
            margin: 10px 0px!important;
        }
    }

    @media only screen and (max-width: 512px) {
        .facultycard{
            width : fit-content;
        }
        .facultycard h4{
            font-size: 12px;
        }
        .facultycard img{
            width: 100px;
            height: 100px;
            margin-right: 15px;
        }
        .items .link img{
            width: 12rem!important;
        }
    }

    
    @media only screen and (max-width:450px){
        .readmore{
            display: unset;
        }
        .readcontent{
            display: none;
        }
        .homecont{
            height : 60vh;
        }
        .sociallogo{
            bottom: 30px;
        }
        .eventcont img{
            width: 100%!important;
            height: 66.67%;
            margin: auto;
        }
        .carousel-caption{
            background-color: rgba(0, 0, 0,0.4);
            width: 70%; 
            font-size: 8px;
            padding-top: 10px!important;
            padding-bottom: 10px!important ;
        }
        .carousel-caption h3{
            font-size: 18px!important;
        }
        .datacard{
            width: 10rem;
            padding: 10px;
            text-align: center;
        }

        .social-link{
            width: fit-content;
            margin: auto;
        }a
        .datacard .member-detail{
            width: 100%;
        }
        .datacard b{
            font-size:15px;
            width: 100vh;
        }
        .datacard span{
            font-size: 13px;
        }
        .teamdata{
            width: 100%;
        }
        .carousel-control-prev-icon,.carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
        }
        .carousel-control-next-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")!important;
        }
        #alumni .body{
            font-size: 10px;
        }
        .alumnicard{
            margin:auto;
            width:15rem;
            /* height: 12rem; */
        }
        .items .link{
            width: fit-content;
            margin: 10px auto 0px auto;
        }
        .items .link img{
            width: 10rem!important;
        }
        .contact input{
            width: 80vw !important;
            font-size:12px!important;
            margin: 10px 0px!important;
        }
    }


    @media only screen and (max-width:350px) {
        .sponsor .body{
            padding: 0px 28%;
        }
        .items .link{
            margin: 10px auto 0px -60px;
        }
        .react-multiple-carousel__arrow{

            display: none;
        }
        .teamcont{
            padding: 20px 10px;
        }
        .teamcont .datacard{
            width: 80%;
            /* padding: 20px 1px; */
        }
        .teamcont .datacard img{
            width: 100px;
            height: 100px;
        }
    }